* {
  font-family: var(--fonte-primaria);
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--cor-fundo-geral);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

header img {
  max-width: 90%;
}

.conteudo-banner {
  background: var(--gradiente-banner);
  display: flex;
  justify-content: center;
}

.conteudo-banner img {
  max-width: 90%;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* FORMULÁRIO */

.conteudo-body {
  background-color: var(--cor-fundo-geral);
  padding: 4rem 25.5rem;
}

.form-evento {
  background-color: var(--cor-fundo-componentes);
  padding: 2rem;
  margin: auto;
  width: 24rem;
  max-width: 90%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-titulo {
  font-size: var(--fonte-body-l);
  color: var(--cor-branca);
  margin: 1rem;
  text-align: start;
  font-weight: var(fonte-weight-primaria);
  line-height: var(fonte-line-height-heading);
}

.form-subtitulo {
  color: var(--cor-branca);
  font-size: var(fonte-body-m);
  font-weight: var(fonte-weight-primaria);
  line-height: var(fonte-line-height-body);
}

.form-campo {
  border: none;
  /* margin: 2rem 1.75rem; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.form-input {
  background-color: transparent;
  border: 1px solid var(--cor-texto-secundario);
  font-size: var(--fonte-body-m);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: var(--cor-branca);
}

.form-input::placeholder {
  color: var(--cor-texto-secundario);
  font-size: var(fonte-body-m);
  font-weight: var(fonte-weight-primaria);
  line-height: var(fonte-line-height-body);
}

.form-input option[value=""] {
  color: var(--cor-texto-secundario);
  font-size: var(fonte-body-m);
  font-weight: var(fonte-weight-primaria);
  line-height: var(fonte-line-height-body);
}

/* BOTÃO CRIAR EVENTO */

.form-botao {
  width: 8rem;
  background-color: var(--cor-destaque);
  border-radius: 0.5rem;
  border: none;
  /* margin: 2rem 8rem; */
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}

.form-botao:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form-botao-texto {
  color: var(--cor-fundo-componentes);
  font-size: var(--fonte-body-m);
  font-weight: 600;
  line-height: var(fonte-line-height-body);
  white-space: nowrap;
}
