* {
  font-family: var(--fonte-primaria);
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--cor-fundo-geral);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

header img {
  max-width: 90%;
}

.conteudo-banner {
  background: var(--gradiente-banner);
  display: flex;
  justify-content: center;
}

.conteudo-banner img {
  max-width: 90%;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* FORMULÁRIO */

.conteudo-body {
  background-color: var(--cor-fundo-geral);
  padding: 4rem 25.5rem;
}

.form-evento {
  background-color: var(--cor-fundo-componentes);
  padding: 2rem;
  margin: auto;
  width: 24rem;
  max-width: 90%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-titulo {
  font-size: var(--fonte-body-l);
  color: var(--cor-branca);
  margin: 1rem;
  text-align: start;
  font-weight: var(fonte-weight-primaria);
  line-height: var(fonte-line-height-heading);
}

.form-subtitulo {
  color: var(--cor-branca);
  font-size: var(fonte-body-m);
  font-weight: var(fonte-weight-primaria);
  line-height: var(fonte-line-height-body);
}

.form-campo {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.form-input {
  background-color: var(--cor-fundo-componentes);
  border: 1px solid var(--cor-texto-secundario);
  font-size: var(--fonte-body-m);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: var(--cor-branca);
}
.form-input.upload-input {
  background-color: var(--cor-fundo-componentes);
  border: 1px solid var(--cor-texto-secundario);
  font-size: var(--fonte-body-m);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: var(--cor-branca);
  cursor: pointer;
  color: var(--cor-texto-secundario);
}

.form-input.upload-input::file-selector-button {
  visibility: hidden; /* esconde apenas o botão */
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
}

.upload-label:hover {
  background-color: var(--cor-destaque);
}

.form-input::placeholder {
  color: var(--cor-texto-secundario);
  font-size: var(fonte-body-m);
  font-weight: var(fonte-weight-primaria);
  line-height: var(fonte-line-height-body);
}

.form-input option[value=""] {
  color: var(--cor-texto-secundario);
  font-size: var(fonte-body-m);
  font-weight: var(fonte-weight-primaria);
  line-height: var(fonte-line-height-body);
}

/* BOTÃO CRIAR EVENTO */

.form-botao {
  width: 8rem;
  background-color: var(--cor-destaque);
  border-radius: 0.5rem;
  border: none;
  /* margin: 2rem 8rem; */
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}

.form-botao:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form-botao-texto {
  color: var(--cor-fundo-componentes);
  font-size: var(--fonte-body-m);
  font-weight: 600;
  line-height: var(fonte-line-height-body);
  white-space: nowrap;
}

/* BANNER CONTEUDO */

.conteudo-temas {
  background-color: var(--cor-fundo-geral);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temas-titulo {
  margin-bottom: 4rem;
}

.conteudo-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.tema-banner-titulo {
  font-family: var(--fonte-titulo);
  font-size: var(--fonte-body-l);
  color: var(--cor-branca);
  margin-bottom: 2rem;
  text-transform: uppercase;
}

/* CARD DE TEMAS */

.card-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem;
}

.card-evento {
  background-color: var(--cor-fundo-componentes);
  width: 17.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--cor-branca);
  gap: 0.5rem;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 15rem;
  object-fit: cover; /* corta e ajusta proporcionalmente */
  display: block;
}
.card-evento p,
.card-evento h4 {
  margin: 0;
}

.card-corpo {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.card-tag {
  background-color: var(--cor-texto-secundario);
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: center;
  font-family: var(--fonte-titulo);
  font-size: var(--fonte-body-s);
  font-weight: 700;
  text-transform: uppercase;
  line-height: var(--fonte-line-height-body);
}

.card-data {
  font-size: var(--fonte-body-s);
  line-height: var(--fonte-line-height-body);
}

.card-titulo {
  font-size: var(--fonte-body-xl);
  font-weight: 700;
  font-family: var(--fonte-titulo);
}

.card-descricao {
  padding-bottom: 1.5rem;
  font-size: var(--fonte-body-m);
}
