body {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--cor-fundo-geral);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

header img {
  max-width: 90%;
}

.conteudo-banner {
  background: var(--gradiente-banner);
  display: flex;
  justify-content: center;
}

.conteudo-banner img {
  max-width: 90%;
}

/* FORMULÁRIO */

.conteudo-body {
  background-color: var(--cor-fundo-geral);
  padding: 4rem 25.5rem;
}

.form-evento {
  background-color: var(--cor-fundo-componentes);
  padding: 2rem;
  margin: auto;
  width: 24rem;
  max-width: 90%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-titulo {
  font-family: var(--fonte-titulo);
  font-size: var(--fonte-body-l);
  color: var(--cor-branca);
  font-size: var(--fonte-body-l);
  margin-bottom: 1rem;
  text-align: center;
}

.form-subtitulo {
  color: var(--cor-branca);
  font-size: var(fonte-body-m);
  font-family: var(--fonte-primaria);
}

.form-campo {
  border: none;
  /* margin: 2rem 1.75rem; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-input {
  background-color: var(--cor-fundo-componentes);
  border: 1px solid var(--cor-texto-secundario);
  color: var(--cor-texto-secundario);
  font-size: var(--fonte-body-m);
  border-radius: 0.5rem;
  width: 90%;
  padding: 0.75rem 1rem;
  /* margin: 0.5rem 1.75rem; */
}

.form-botao {
  width: 8rem;
  background-color: var(--cor-destaque);
  border-radius: 0.5rem;
  border: none;
  margin: 2rem 8rem;
  width: 8rem;
  padding: 0.5rem 1rem;
}

.form-botao-texto {
  color: var(--cor-fundo-componentes);
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-body-m);
  font-weight: 600;
}
